[app:main]
use = egg:stem

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_debugtoolbar
    pyramid_tm

#sqlalchemy.url = sqlite:///%(here)s/stem.sqlite
sqlalchemy.url = mysql://root:@localhost/stem

# By default, the toolbar only appears for clients from IP addresses
# '127.0.0.1' and '::1'.
# debugtoolbar.hosts = 127.0.0.1 ::1

session_key = haGjaj167HalO
auth_key = sjKwywMwi89290HJ